<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <!-- Primary Meta Tags -->
      <title>Sticky - Not Found</title>
      <meta name="title" content="Sticky - Not Found">
      <meta name="description" content="Markdown pastebin service with preview and custom URLs. Fast, simple and free.">

      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://sticky.xenmods.me/">
      <meta property="og:title" content="Sticky - Not Found">
      <meta property="og:description" content="Markdown pastebin service with preview and custom URLs. Fast, simple and free.">
      <meta property="og:image" content="https://graph.org/file/1ccc161fa085d8b658335.jpg">

      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="https://sticky.xenmods.me/"">
      <meta property="twitter:title" content="Sticky - Not Found">
      <meta property="twitter:description" content="Markdown pastebin service with preview and custom URLs. Fast, simple and free.">
      <meta property="twitter:image" content="https://graph.org/file/1ccc161fa085d8b658335.jpg">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" />
      <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.min.css" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   </head>
   <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
      <div class="container flex flex-wrap items-center justify-between mx-auto">
         <a href="/" class="flex items-center">
         <img src="logo.png" class="h-6 mr-3 sm:h-9" alt="Sticky Logo" />
         <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Sticky</span>
         </a>
         <div class="flex md:order-2">
            <a href="mailto:ilumomin04@gmail.com" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Report <i class='bx bx-block'></i> </a>
         </div>
         <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
               <li>
                  <a href="./" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
               </li>
               <li>
                  <a href="./help" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Help</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <body class="bg-gray-50 antialiased">
      <section class="bg-white dark:bg-gray-900">
         <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
               <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
               <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Sticky gone missing.</p>
               <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, this Sticky doesn't exist :(</p>
               <a href="/" class="inline-flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">Back to Homepage</a>
            </div>
         </div>
      </section>
   </body>
</html>