<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Primary Meta Tags -->
      <title>Sticky - {{ StickyID }}</title>
      <meta name="title" content="Sticky - {{ StickyID }}">
      <meta name="description" content="Markdown pastebin service with preview and custom URLs. Fast, simple and free.">
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://sticky.xenmods.me/">
      <meta property="og:title" content="Sticky - {{ StickyID }}">
      <meta property="og:description" content="Markdown pastebin service with preview and custom URLs. Fast, simple and free.">
      <meta property="og:image" content="https://graph.org/file/1ccc161fa085d8b658335.jpg">
      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="https://sticky.xenmods.me/"">
      <meta property="twitter:title" content="Sticky - {{ StickyID }}">
      <meta property="twitter:description" content="Markdown pastebin service with preview and custom URLs. Fast, simple and free.">
      <meta property="twitter:image" content="https://graph.org/file/1ccc161fa085d8b658335.jpg">
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" />
      <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.min.css" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   </head>
   <style>
      html {
      scroll-behavior: smooth;
      font-family: 'Space Grotesk', sans-serif;
      }
      .cursive {
      font-family: 'Nanum Pen Script', cursive;
      }
      [x-cloak] { display: none; }
      .CodeMirror-focused {
      border-radius: .375rem;
      outline: 2px solid transparent;
      outline-offset: 2px;
      --tw-ring-opacity: 0.5;
      --tw-ring-color: rgba(199, 210, 254, var(--tw-ring-opacity));
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
      }
      .CodeMirror {
      padding: 0.75rem;
      font-family: inherit;
      font-size: inherit;
      border-bottom-left-radius: .375rem;
      border-bottom-right-radius: .375rem;
      --tw-border-opacity: 1;
      border: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
      }
      .CodeMirror.CodeMirror-focused {
      --tw-border-opacity: 1;
      border-color: rgba(165, 180, 252, var(--tw-border-opacity));
      }
      .cm-s-default .cm-header,
      .cm-s-default .cm-variable-2 {
      color: rgb(31, 41, 55);
      }
   </style>
   <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
      <div class="container flex flex-wrap items-center justify-between mx-auto">
         <a href="/" class="flex items-center">
         <img src="logo.png" class="h-6 mr-3 sm:h-9" alt="Sticky Logo" />
         <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Sticky</span>
         </a>
         <div class="flex md:order-2">
            <button id="theme-toggle" type="button" class="block text-gray-500 mr-4 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2">
               <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
               </svg>
               <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
               </svg>
            </button>
            <a href="./edit?id={{ StickyID }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-0 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Edit <i class='bx bxs-edit-alt'></i> </a>
            <!-- <a href="mailto:ilumomin04@gmail.com?subject=Sticky Report.&body=Sticky ID: {{ StickyID }}. Reason: " class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Report <i class='bx bx-block'></i> </a> -->         </div>
         <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
               <li>
                  <a href="./" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
               </li>
               <li>
                  <a href="./help" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Help</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <body class="bg-gray-50 antialiased dark:bg-gray-800">
      <div class="w-full px-4 mx-auto min-h-screen py-5 dark:bg-gray-900">
         <div
            x-data="markdown()"
            x-init="
            convertHtmlToMarkdown();
            convertedMarkdown()  ;
            codeMirrorEditor = CodeMirror.fromTextArea($refs.input, {
            mode: 'markdown',
            theme: 'default',
            readOnly: true,
            lineWrapping: true
            });
            codeMirrorEditor.setValue(content);
            codeMirrorEditor.setSize('100%', height);
            setTimeout(function() {
            codeMirrorEditor.refresh();
            }, 1);
            codeMirrorEditor.on('change', () => content = codeMirrorEditor.getValue());
            (document.documentElement.classList[localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'add' : 'remove']('dark'), codeMirrorEditor.setOption('theme', localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'material' : 'base16-light'));
            "
            class="relative"
            x-cloak
            >
            <div class="bg-gray-50 border border-b-0 border-gray-300 top-0 left-0 right-0 block rounded-t-md dark:bg-gray-900 dark:border-0 text-white">
               <button type="button" class="py-2 px-4 inline-block text-gray-400 font-semibold dark:text-white">{{ title }}</button>
               <a href="download?id={{ StickyID }}" download="{{ StickyID }}.md" type="button" class="absolute right-0 py-2 px-4 text-gray-400 font-semibold  dark:text-white">Download <i class='bx bxs-download'></i></a>
            </div>
            <div x-show="! showConvertedMarkdown">
               <div>
                  <textarea
                     readonly
                     id="textinput"
                     x-ref="input"
                     x-model.debounce.750ms="content"
                     class="hidden"
                     name="content"
                     ></textarea>
               </div>
            </div>
            <div x-show="showConvertedMarkdown">
               <div x-html="convertedContent" class="w-full prose max-w-none prose-indigo leading-6 rounded-b-md shadow-sm border border-gray-300 p-5 bg-white overflow-y-auto dark:bg-gray-900 dark:border-0 dark:text-white" :style="`height: ${height}; max-width: 100%`"></div>
            </div>
         </div>
      </div>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/mode/markdown/markdown.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/turndown@7.0.0/dist/turndown.min.js"></script>
      <script src="https://unpkg.com/marked@0.3.6/lib/marked.js"></script>
      <script>
         var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
         var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
         
         if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
             themeToggleLightIcon.classList.remove('hidden');
         } else {
             themeToggleDarkIcon.classList.remove('hidden');
         }
         
         var themeToggleBtn = document.getElementById('theme-toggle');
         
         themeToggleBtn.addEventListener('click', function() {
         
             themeToggleDarkIcon.classList.toggle('hidden');
             themeToggleLightIcon.classList.toggle('hidden');
         
             if (localStorage.getItem('color-theme')) {
                 if (localStorage.getItem('color-theme') === 'light') {
                     document.documentElement.classList.add('dark');
                     localStorage.setItem('color-theme', 'dark');
                 } else {
                     document.documentElement.classList.remove('dark');
                     localStorage.setItem('color-theme', 'light');
                 }
         
             } else {
                 if (document.documentElement.classList.contains('dark')) {
                     document.documentElement.classList.remove('dark');
                     localStorage.setItem('color-theme', 'light');
                 } else {
                     document.documentElement.classList.add('dark');
                     localStorage.setItem('color-theme', 'dark');
                 }
             }
         
         });
         
         function markdown() {
             return {
                 height: '800px',
                 tab: 'write',
                 content: '',
                 showConvertedMarkdown: false,
                 convertedContent: '',
                 convertedMarkdown() {
                     this.showConvertedMarkdown = true;
                     const renderer = new marked.Renderer();
                     renderer.heading = (text, level) => {
                     return `<h${level} class="dark:text-white">${text}</h${level}>`;
                     };
                     renderer.strong = (text) => {
                     return `<b class="dark:text-white">${text}</b>`;
                     };
                     this.convertedContent = marked({{ content|tojson }}, { renderer: renderer, sanitize: true });
                 },
                 convertHtmlToMarkdown() {
                     turndownService = new TurndownService({
                         headingStyle: 'atx',
                         codeBlockStyle: 'fenced'
                     });
                     const renderer = new marked.Renderer();
                     renderer.heading = (text, level) => {
                     return `<h${level} class="dark:text-white">${text}</h${level}>`;
                     };
                     renderer.strong = (text) => {
                     return `<b class="dark:text-white">${text}</b>`;
                     };
                     this.content = marked({{ content|tojson }}, { renderer: renderer, sanitize: true });
                 }
             }
         }
      </script>
   </body>
   <footer class=" bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <div class="w-full mx-auto container md:p-6 p-4 md:flex md:items-center md:justify-between">
         <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">Sticky™</a>. All Rights Reserved.
         </span>
         <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
               <a href="./help" class="mr-4 hover:underline md:mr-6 ">Help</a>
            </li>
            <li>
               <a href="mailto:ilumomin04@gmail.com" class="hover:underline">Contact</a>
            </li>
         </ul>
      </div>
   </footer>
</html>
